:root {
  --background: #181719;
  --text: #ffffff;
  --text2: #828282;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-inline-size: 1296px;
  margin: auto;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.header .header-content .logo {
  border: 1px solid var(--text);
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  font-weight: 200;
  height: 32px;
  line-height: 15.56px;
  text-transform: uppercase;
  padding: 8px;
}
.header .header-content .menu {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-block-start: 44px;
  }
  .header .header-content .menu {
    display: block;
  }
  .header .header-content .menu ul {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 86px;
    list-style: none;
    line-height: 21.94px;
  }
  .header .header-content .menu ul li:hover {
    border-bottom: 2px solid var(--text);
    padding-block-end: 8px;
  }
  .header .header-content .menu ul a {
    color: var(--text);
    text-decoration: none;
    padding-block-end: 8px;
  }
  .header .header-content .menu ul a.is-active {
    border-bottom: 2px solid var(--text);
    font-weight: bold;
  }
}
.header .header-content .menu-mobile {
  z-index: 1000;
}
.header .header-content .menu-mobile .material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  display: inline-block;
  line-height: 1;
}
.header .menu {
  background: var(--background);
  inset-inline: 0;
  inset-block: 0;
  padding-block-start: 258px;
  position: fixed;
  opacity: 0;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
  z-index: 1;
}
.header .menu ul {
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  list-style: none;
  line-height: 21.94px;
}
.header .menu ul li:hover {
  border-bottom: 2px solid var(--text);
  padding-block-end: 8px;
}
.header .menu ul a {
  color: var(--text);
  text-decoration: none;
  padding-block-end: 8px;
}
.header .menu ul a.is-active {
  border-bottom: 2px solid var(--text);
  font-weight: bold;
}
.header .menu.open {
  opacity: 1;
  transform: translateY(0);
  transition: 1s all;
}

@media only screen and (min-width: 768px) {
  .header .header-content .menu-mobile {
    display: none;
  }
}
.section {
  margin-block-start: 38px;
  margin-block-end: 120px;
}
.section .section-content {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.section .section-content .section-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section .section-content .section-description h1 {
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.08px;
}
.section .section-content .section-description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  inline-size: 250px;
  max-inline-size: 250px;
}
.section .section-content .section-description a {
  color: var(--text);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-decoration: none;
}
.section .section-content .section-description .material-icons-outlined {
  display: inline;
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: bold;
  inset-block-start: 8px;
  margin-inline-start: 15px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-block-start: 177px;
  }
  .section .section-content {
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .section .section-content {
    gap: 139px;
  }
  .section .section-content .section-description {
    gap: 40px;
  }
  .section .section-content .section-description h1 {
    font-size: 48px;
    line-height: 61.44px;
  }
  .section .section-content .section-description p {
    font-size: 24px;
    line-height: 29.26px;
    inline-size: 410px;
    max-inline-size: 410px;
  }
  .section .section-content .section-description a {
    font-size: 18px;
    line-height: 21.94px;
  }
}
.section-decoration-img {
  position: relative;
}
.section-decoration-img .img-interior img {
  max-inline-size: 100%;
  height: auto;
}
.section-decoration-img .img-user {
  background: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  inset-block-end: -100px;
  inset-inline-end: 20px;
  inline-size: 300px;
  padding-block-end: 25px;
  position: absolute;
}
.section-decoration-img .img-user .title {
  display: flex;
  gap: 14px;
  margin-inline-start: 22.9px;
}
.section-decoration-img .img-user .title img {
  border-radius: 50%;
  margin-block-start: 14px;
  max-block-size: 36.59px;
  max-inline-size: 36.59px;
}
.section-decoration-img .img-user .title h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  margin-block-start: 16px;
}
.section-decoration-img .img-user .title p {
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
}
.section-decoration-img .img-user .text-description {
  margin-block-start: 20px;
  margin-inline-start: 19px;
  max-inline-size: 210px;
}
.section-decoration-img .img-user .text-description h3 {
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.04px;
}

@media only screen and (min-width: 768px) {
  .section-decoration-img .img-user {
    inset-block-end: -130px;
    inline-size: 410px;
    padding-block-end: 34px;
  }
  .section-decoration-img .img-user .title {
    gap: 19px;
    margin-inline-start: 31px;
  }
  .section-decoration-img .img-user .title img {
    margin-block-start: 18px;
    max-block-size: 50px;
    max-inline-size: 50px;
  }
  .section-decoration-img .img-user .title h4 {
    font-size: 14px;
    line-height: 17.07px;
    margin-block-start: 23px;
  }
  .section-decoration-img .img-user .title p {
    font-size: 12px;
    line-height: 14.63px;
    margin-block-start: 5px;
  }
  .section-decoration-img .img-user .text-description {
    margin-block-start: 30px;
    margin-inline-start: 26px;
    max-inline-size: 287px;
  }
  .section-decoration-img .img-user .text-description h3 {
    font-size: 24px;
    line-height: 30.72px;
  }
}
.footer {
  margin-block-start: 150px;
  margin-block-end: 24px;
}
.footer .attribution {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.04px;
  text-align: center;
}
.footer .attribution a {
  color: #a9a9a9;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
