.footer {
  margin-block-start: 150px;
  margin-block-end: 24px;

  .attribution {
    font: {
      size: 14px;
      weight: 500;
    }
    line-height: 17.04px;
    text-align: center;

    a {
      color: #a9a9a9;
      cursor: pointer;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
