.header {
  .header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;

    .logo {
      border: 1px solid var(--text);
      font: {
        family: "Crimson Pro", serif;
        size: 14px;
        weight: 200;
      }
      height: 32px;
      line-height: 15.56px;
      text-transform: uppercase;
      padding: 8px;
    }

    .menu {
      display: block;
    }
  }
}

@media only screen and(min-width:768px) {
  .header {
    margin-block-start: 44px;
    .header-content {
      .menu {
        display: block;
        padding-block-start: 0;
        position: static;
        opacity: 1;
        transform: translateY(0);
        transition: none;

        ul {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          font: {
            size: 18px;
            weight: 500;
          }
          gap: 86px;
          line-height: 21.94px;

          a {
            color: var(--text);
            text-decoration: none;
            padding-block-end: 8px;
          }

          a.is-active {
            border-bottom: 2px solid var(--text);
            font-weight: bold;
          }
        }
      }
    }
  }
}
