.section {
  margin-block-start: 38px;
  margin-block-end: 120px;

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 37px;

    .section-description {
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font: {
          family: "Lora", serif;
          size: 36px;
          weight: 500;
        }
        line-height: 46.08px;
      }

      p {
        font: {
          size: 14px;
          weight: 400;
        }
        line-height: 17.07px;
        inline-size: 250px;
        max-inline-size: 250px;
      }

      a {
        color: var(--text);
        cursor: pointer;
        font: {
          size: 14px;
          weight: 700;
        }
        line-height: 17.07px;
        text-decoration: none;
      }

      .material-icons-outlined {
        display: inline;
        font-family: "Material Icons";
        font-size: 24px;
        font-weight: bold;
        inset-block-start: 8px;
        margin-inline-start: 15px;
        position: relative;
      }
    }
  }
}

@media only screen and(min-width:768px) {
  .section {
    margin-block-start: 177px;
    .section-content {
      align-items: center;
      flex-direction: row;
    }
  }
}

@media only screen and(min-width:1024px) {
  .section {
    .section-content {
      gap: 139px;

      .section-description {
        gap: 40px;

        h1 {
          font: {
            size: 48px;
          }
          line-height: 61.44px;
        }

        p {
          font: {
            size: 24px;
          }
          line-height: 29.26px;
          inline-size: 410px;
          max-inline-size: 410px;
        }

        a {
          font: {
            size: 18px;
          }
          line-height: 21.94px;
        }
      }
    }
  }
}
